.flag {
    width: 800px;
    height: 400px;
    display: inline-block;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
}

.country-name, .name {
    font-size: 24px;
    background-color: #000;
    color: #fff;
    font-weight: 900;
}

.country-name {
    display: none;
}

.flag:hover .country-name {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* CZECHIA */

#Czechia {
    position: relative;
}

.Czechia_blue {
    width: 0;
	height: 0;
	border-top: 200px solid transparent;
	border-left: 400px solid #11457e;
    border-bottom: 200px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.Czechia_white, .Czechia_red {
    height: 50%;
    width: 100%;
    position: absolute;
}

.Czechia_white {
    background-color: #fff;
    top: 0;
    left: 0;
}   

.Czechia_red {
    background-color: #d7141a;
    top: 50%;
    left: 0;
}

/* BELIZE */

#Belize {
    /* display: flex; */
}

.Belize_red {
    background-color: #d90f19;
    height: 40px;
}

.Belize_blue {
    background-color: #171696;
    height: 320px;
}

.Belize_blue, .Moldova_yellow {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GREECE */

#Greece {
    background: repeating-linear-gradient(
        #0d5eaf,
        #0d5eaf 44px,
        #fff 45px,
        #fff 89px
      );
}

.cross {
    background-color: #0d5eaf;
    width: 223px;
    height: 223px;
    position: relative;
}

.vertical_stripe, .horizontally_stripe {
    background-color: #fff;
}

.vertical_stripe {
    width: 45px;
    height: 100%;
    margin: auto;
}

.horizontally_stripe {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
}

/* ICELAND */

#Iceland {
    background-color: #02529c;
    position: relative;
}

.vertical_white, .horizontally_white {
    background-color: #fff;
}

.vertical_red, .horizontally_red {
    background-color: #dc1e35;
}

.vertical_white, .vertical_red {
    height: 100%;
}

.vertical_white {
    width: 100px;
    position: absolute;
    left: 160px;
}

.vertical_red {
    width: 50px;
    margin: auto;
}

.horizontally_white, .horizontally_red {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.horizontally_white {
    height: 100px;
}

.horizontally_red {
    height: 50px;
}

/* MOLDOVA */

#Moldova {
    display: flex;
}

.Moldova_blue, .Moldova_yellow, .Moldova_red {
    height: inherit;
    justify-content: center;
}

.Moldova_blue, .Moldova_red {
    width: 33%;
}
.Moldova_blue {
    background-color: #0046ae;
}

.Moldova_yellow {
    background-color: #ffd200;
    width: 34%;
}

.Moldova_yellow img {
    height: max-content;
}

.Moldova_red {
    background-color: #cc092f;
}

/* GRENADA */

#Grenada {
    background-color: #ce1126;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.inner_rectangle {
    width: 0;
    height: 0;
    border-top: 135px solid #fcd116;
    border-left: 325px solid #007a5e;
    border-bottom: 135px solid #fcd116;
    border-right: 325px solid #007a5e;
}

.circle {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: #ce1126;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.circle img {
    width: fit-content;
    object-fit: inherit;
    object-position: center;
    width: 90%;
}

.row_stars {
    width: 375px;
    display: flex;
    justify-content: space-between;
}

.star {
    display: inline;
}

.Grenada_flower {
    position: absolute;
    top: 39%;
    left: 13%;
}

/* Brazil */

#Brazil {
    background-color: #009b3a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rhomb {
    width: 0;
    height: 0;
    border: 300px solid transparent;
    border-bottom: 150px solid #fedf00;
    position: relative;
    top: -225px;
}        

.rhomb:after {
    content: '';
    position: absolute;
    left: -300px;
    top: 150px;
    width: 0;
    height: 0;
    border: 300px solid transparent;
    border-top: 150px solid #fedf00;
}
    
#Brazil img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



/* BULGARIA */

#Bulgaria {
    display: none;
    position: relative;
}

.Bulgaria_white, .Bulgaria_green {
    width: 100%;
    height: 33%;
}

.Bulgaria_red {
    width: 100%;
    height: 34%;
    background-color: #d62612;
}

.Bulgaria_green {
    background-color: #00966e;
}

.Bulgaria_white {
    background-color: #fff;
}
.name {
    position: absolute;
    top: 0;
    left: 0;
}

#Brazil:hover #Bulgaria {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#Brazil, #Moldova, #Grenada {
    height: 100%;
    width: 100%;
}
.emblem-center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.albania {
    background-color: #f00;
}
.albania:hover .country-name{
    display:block;
}
.albania-emblem{
    width: 200px;
    height: 215px;
}
.algeria{
    background: linear-gradient(90deg, rgba(0,102,51,1) 50%, rgba(255,255,255,1) 50%);
}
.algeria:hover .country-name{
    display:block;
}
.algeria-emblem{
    width: 200px;
    height: 215px;
}
.angola{
    background: linear-gradient(180deg, rgba(204,9,47,1) 50%, rgba(0,0,0,1) 50%);
}
.angola:hover .country-name{
    display:block;
}
.angola-emblem{
    width: 200px;
    height: 251px;
}
.andora{
    background: linear-gradient(90deg, rgba(0,17,170,1) 33%, rgba(254,224,0,1) 33%, rgba(254,224,0,1) 66%, rgba(209,7,55,1) 66%);
}
.andora:hover .country-name{
    display:block;
}
.andora-emblem{
    width: 200px;
    height: 251px;
}
.argentina{
    background: linear-gradient(180deg, rgba(116,172,223,1) 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 66%, rgba(116,172,223,1) 66%);
}
.argentina:hover .country-name{
    display:block;
}
.argentina-emblem{
    width: 200px;
    height: 200px;
}
.afghanistan{
    background: linear-gradient(90deg, rgba(0,0,0,1) 33%, rgba(211,32,17,1) 33%, rgba(211,32,17,1) 66%, rgba(0,122,54,1) 66%);
}
.afghanistan:hover .country-name{
    display:block;
}
.afghanistan-emblem{
    width: 380px;
    height: 380px;
}
.afghanistan:hover{
    background: radial-gradient(circle, rgba(170,0,0,1) 29%, rgba(255,255,255,1) 29%);
}
.afghanistan:hover .afghanistan-emblem{
    visibility: hidden;
}
.flag-finlandia {
    width: 800px;
    height: 400px;
    background: #003580;
    position: relative;
  }
  
  .flag-finlandia::before,
  .flag-finlandia::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    border: 0 solid #fff;
  }
  
  .flag-finlandia::before {
    width: calc((100%/18)*5);
    border-top-width: calc((400px/11)*4);
    border-bottom-width: calc((400px/11)*4);
    left: 0;
  }
  
  .flag-finlandia::after {
    width: calc((100%/18)*10);
    border-top-width: calc((400px/11)*4);
    border-bottom-width: calc((400px/11)*4);
    right: 0;
  }
  
  .flag-finlandia:hover .country-name {
    content: "";
    display: block;
  }
  
  .flag-germany {
    position: relative;
    background-color: yellow;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  .top {
    background-color: #000;
    height: 33.3%;
  }
  
  .mid {
    background-color: #dd0000;
    height: 33.3%;
  }
  
  .botm {
    background-color: #ffce00;
    height: 33.3%;
  }
  
  .flag-germany:hover .country-name {
    content: "";
    display: block;
  }
  
  .flag-bahamas {
    height: 400px;
    border: solid 1px #000000;
    background: linear-gradient(to bottom, transparent 110px, #FDDA24 110px 280px, transparent 180px), linear-gradient(to bottom, transparent 166px, #ffffff 120px 200px, transparent 200px), #00A9CE;
    border: solid 1px black;
  }
  
  .flag-bahamas::after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 300px solid #000000;
    border-bottom: 200px solid transparent;
  }
  
  .flag-bahamas:hover .country-name {
    content: "";
    display: block;
  }
  
  .flag-norway {
    width: 800px;
    position: relative;
    background: linear-gradient(to right, transparent 140px, #002868 140px 180px, transparent 180px), linear-gradient(to bottom, transparent 140px, #002868 140px 180px, transparent 180px), linear-gradient(to bottom, transparent 120px, #ffffff 120px 200px, transparent 200px), linear-gradient(to right, transparent 120px, #ffffff 120px 200px, transparent 200px), #ef2b2d;
    border: solid 1px black;
  }
  
  .red-background {
    position: absolute;
    display: block;
    margin: auto;
    height: 400px;
    width: 800px;
    background: red;
  }
  
  .white-box {
    height: 100%;
    position: absolute;
    background: white;
    width: 46%;
    left: 27%;
  }
  
  .maple-box {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(Images/canada.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .flag-canada:hover .country-name {
    content: "";
    display: block;
  }
  
  .flag-israel {
    position: relative;
    font-size: 99px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 0;
    margin: 0;
    background-color: white;
    margin: 0;
    /*top: -20px;*/
  }
  
  .flag-israel::before,
  .flag-israel::after {
    content: ' ';
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 15%;
  }
  
  .flag-israel::before {
    top: 10%;
  }
  
  .flag-israel::after {
    bottom: 10%;
  }
  
  .emblem-star {
    position: absolute;
    color: blue;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 22px;
    font-size: 250px;
  }
  
  .flag-israel:hover .country-name {
    content: "";
    display: block;
  }
  
  .flag-norway:hover {
    margin-top: 0px;
    content: "";
    width: 800px;
    height: 400px;
    background: #9F9 linear-gradient(to right bottom, darkgreen 0, darkgreen 34%, yellow 0%, yellow 50%, red 0%) no-repeat left top /800px 147%;
  }
  
  .flag-norway:hover .country-name {
    display: block;
  }
  
  .norway {
    display: inline-block;
  }
  
  .flag-norway:hover .norway {
    display: none;
  }